// Colors
$pink: #ec9dbb;
$green: #1db954;
$black: #000;
$navy: #574f7d;
$blue: #95adbe;
$grey: #efefef;
$white: #fff;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;