.main-nav {
  text-align: center;

  ul {
    display: flex;    
    justify-content: center;
    border-bottom: 7px solid green;
    margin: 0;
    margin-bottom: 25px;
  }

  li {
    margin-left: 9px;
    padding: 5px 29px;
    cursor: pointer;
    font-size: 1.5rem;
    a {
    color: $green;
    text-decoration: none;
      &:hover {
        color: $white;
      }
    }
  }
}
